<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<div id="login"align="center">
<div>
    <label> MyUsername:
        <input type="text" [(ngModel)]="ngUname" placeholder="username"></label>
      
      
      
      <label> Password:
        <input type="password" [(ngModel)]="ngPword" placeholder="Password"> </label>
      </div>
        
      <div id="Button">
        <button (click)="display()"> Login </button>
      </div>
      <script>
      
      </script>
      <p>{{username}}</p>
      <h1>{{username}}</h1>
    </div>
    
    


<app-sign-in></app-sign-in>
<app-apply></app-apply>
